
body{
    background-color: black;
}

@keyframes titleanim {
    100% {transform: rotateX(360deg)}
    
}

.titleblock{
    perspective: 500px;
    perspective-origin: bottom;
}

.titleblock h1{
    font-family: 'Rubik Iso', cursive;
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    margin: 2rem;
    animation-name: titleanim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.titleblock h1:hover{
    animation-play-state: running;
}

p{
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    margin: 1rem;
}

.image_container{
    height: 50%;
    object-fit: contain;
}

.image_container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.canvas{
    border: 2px solid burlywood;
    background-color: dimgray;
}

@media only screen and (max-width = 600px){
    h1{
        font-size: 1.5rem;
    }
}