
body{
    background-color: black;
}

h1{
    font-family: 'Rubik Iso', cursive;
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    padding: 0px;
    margin: 2rem;
}

p{
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
    margin: 0;
}

.image_container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image_container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width = 600px){
    h1{
        font-size: 1.5rem;
    }
}